body{
    background-color: #6eb6de;
}

.tab-pane h2{
    text-underline: #4a77d4;
}

.form .row .col-xs-6 label{
    color: white;
}

.form-group .col-xs-6{
    margin-left: 8px;
}

.form-group input{
    width: 350px;
}
